<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>siipnemovil2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>38</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
				<key>dateExpires</key>
				<string>8/8/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>network_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>rive_common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E20B1A775E754271CAE5A76D06701244E6522DD</string>
						<key>dateExpires</key>
						<string>8/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZK9XMSM4YP</string>
						<key>name</key>
						<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZK9XMSM4YP.ecuador.policianacional.dntic.siipnemovil</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZK9XMSM4YP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>76a777d6-eb59-4989-aac1-d566c8204259</string>
				<key>dateExpires</key>
				<string>8/8/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ecuador.policianacional.dntic.siipnemovil</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZK9XMSM4YP</string>
				<key>name</key>
				<string>POLICIA NACIONAL DEL ECUADOR (DNTIC)</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
