<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlDDGMrFrp7gInU3z0z7Sz-i9Mx8uvHVU</string>
	<key>GCM_SENDER_ID</key>
	<string>381747498680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ecuador.policianacional.dntic.siipnemovil</string>
	<key>PROJECT_ID</key>
	<string>siipne-elecciones-y-censo</string>
	<key>STORAGE_BUCKET</key>
	<string>siipne-elecciones-y-censo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381747498680:ios:4160030610113aa7506e4d</string>
</dict>
</plist>